.projects-content__modal{
    background-color: $color-1;
    @include flexCenterColumn;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 1px 5px $black;
    border-radius: 20px;
    margin-bottom: 20px;

    h2{
        margin-top: 20px;
        margin-bottom: 20px;
        text-decoration: underline;
        color: $black;
    }

    &__screens{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
}
